@use "../utils/variables" as variable;
@use "../utils/functions" as function;
.card {
 display: flex;
 flex-direction: column;
 max-width: function.to_rem(343px);
 max-height: function.to_rem(611px);
 background-color: variable.$white;
 border-radius: function.to_rem(12px);
}

.card__image {
 object-fit: cover;
 border-top-left-radius: 12px;
 border-top-right-radius: 12px;
}

.card__body {
 padding: function.to_rem(24px);
}

.card__category {
 text-transform: uppercase;
 font-weight: 500;
 letter-spacing: 5px;
 font-size: function.to_rem(12px);
 color: variable.$dark-grayish-blue;
}

.card__header {
 margin: 13px 0 16px;
 font-family: variable.$font-secondary;
 font-weight: 700;
 font-size: function.to_rem(32px);
 line-height: 1;
 color: variable.$very-dark-blue;
 text-wrap: balance;
}

.card__text {
 font-weight: 500;
 font-size: function.to_rem(14px);
 line-height: 1.65;
 text-wrap: pretty;
 color: variable.$dark-grayish-blue;
}

.card__price {
 display: flex;
 align-items: center;
 margin: function.to_rem(20px) 0 function.to_rem(16px);
 column-gap: 20px;
}

.card__price-after {
 font-family: variable.$font-secondary;
 font-size: function.to_rem(32px);
 font-weight: 700;
 color: variable.$dark-cyan;
}

.card__price-before {
 font-family: variable.$font-primary;
 font-size: function.to_rem(13px);
 font-weight: 500;
 color: variable.$dark-grayish-blue;
 text-decoration: line-through;
 line-height: 1.65;
}

@media (min-width: 40rem) {
 .card {
  flex-direction: row;
  max-width: function.to_rem(600px);
  max-height: function.to_rem(450px);
 }

 .card__image {
  max-width: function.to_rem(300px);
  border-top-left-radius: function.to_rem(12px);
  border-top-right-radius: 0;
  border-bottom-left-radius: function.to_rem(12px);
 }
 .card__body {
  padding: function.to_rem(32px);
 }
 .card__header {
  margin: function.to_rem(20px) 0 function.to_rem(24px);
 }
 .card__price {
  margin: function.to_rem(26px) 0 function.to_rem(26px);
 }
}
