@use "../utils/functions" as function;
@use "../utils/variables" as variable;
body {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: variable.$cream;
 font-size: function.to_rem(variable.$base-font-size);
 font-family: variable.$font-primary;
 font-optical-sizing: auto;
}

.sr-only {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 border: 0;
}
